.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app {
  position: relative;
}

.loading {
  margin: 10rem 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.loading span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
}
.loading span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  z-index: -1;
  animation: riple 1.5s ease-out infinite;
}
.loading span:first-child {
  background-color: #b2ebf2;
}

.loading span:first-child::before {
  animation-delay: 0.2s;
}
.loading span:nth-child(2) {
  background-color: #4dd0e1;
  transform: scale(0.9);
}
.loading span:nth-child(2)::before {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  background-color: #00bcd4;
  transform: scale(0.8);
}
.loading span:nth-child(3)::before {
  animation-delay: 0.6s;
}

.loading span:nth-child(4) {
  background-color: #0097a7;
  transform: scale(0.7);
}
.loading span:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading span:last-child {
  background-color: #00838f;
  transform: scale(0.6);
}
.loading span:last-child::before {
  animation-delay: 1s;
}

@keyframes riple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}
